.menu_list > ul  {
    text-align: left;
    padding: 0 0 0 20px;
    margin: 50px 0 0 0;
    line-height: 35px;
    font-size: 14px;
    color: #1293D6;
}

.menu_list > ul > li > label > button {
    font-size: 14px;
    color: #1293D6;
    border: none;
    padding: 0;
}



.menu_list > ul > li:hover, .menu_list > ul > li > label > button:hover, .menu_list > ul > li:hover, .menu_list > ul > li > label:hover {
    cursor: pointer;
}

.menu_list > ul > li > button  {
    border: none;
    background-color: #ffffff;
    font-size: 14px;
    color: #1293D6;
}

.menu_list.left > ul {
    margin-left: 80px;
}