.menu_list > ul  {
    text-align: left;
    padding-left: 30px;
    margin: 50px 0 0 0;
    line-height: 35px;
    font-size: 14px;
    color: #1293D6;
}

.menu_list > ul > li:hover, .menu_list > ul > li > label:hover {
    cursor: pointer;
    color: #106BAC;
}

.menu_list.left > ul {
    margin-left: 80px;
}

@media only screen and (max-width: 900px) { 

    .menu_list > ul  {
        padding: 5px 10px;
        margin-top: 0px;
    }

    .menu_list > ul > li {
        border: none;
        background-color: rgb(236, 236, 236);
        font-size: 14px;
        color: #1293D6;
        margin: 5px 0;
        padding: 0 10px;
    }

    .menu_list > ul > li:first-of-type {
        padding: 0;
    }

    .menu_list > ul > li:first-of-type > label {
        padding: 8px 47px 8px 10px;
    }

    .menu_list > ul > li:hover , .menu_list > ul > li > label:hover{
        background-color: rgb(99, 160, 211);
        cursor: pointer;
        color: #fff;
    }

}
