.menu_list > ul  {
    text-align: left;
    padding-left: 30px;
    margin: 50px 0 0 0;
    line-height: 35px;
    font-size: 14px;
    color: #1293D6;
}

.menu_list > ul > li > label > button {
    font-size: 14px;
    color: #1293D6;
    border: none;
    padding: 0;
    background-color: transparent;
}



.menu_list > ul > li:hover, .menu_list > ul > li > label > button:hover, .menu_list > ul > li:hover, .menu_list > ul > li > label:hover {
    cursor: pointer;
    color: #106BAC;
}

.menu_list > ul > li > button  {
    border: none;
    background-color: #ffffff;
    font-size: 14px;
    color: #1293D6;
}

.menu_list.left > ul {
    margin-left: 80px;
}

@media only screen and (max-width: 900px) { 
    .menu_list > ul  {
        padding: 20px;
    }
}