@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');

* {
    font-family: "Open Sans", sans-serif;
}

.header-container {
    display: flex;
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
    z-index: 10;
}

.logo-search-container {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    height: 80%;
}

.logo-container {
    width: 20%;
}

.logo-header {
    margin-top: 50px;
    min-width: 50%;
    max-width: 90%;
}

.search-box {
    width: calc(60% - 40px);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 40px;
}

.search-field {
    display: flex;
    width: 50%;
    height: 30px;
    padding: 0.5%;
    border: 1px solid #ddd;
    border-radius: 0.3rem;
    margin-top: 40px;
}

.search-input {
    align-self: flex-start;
    margin-left: 10px;
    padding: 1.3%;
    width: 100%;
    height: 90%;
    background-color: transparent;
    position: relative;
    top: -4px;
}

/*----------second row in the Header: path and logout button --------*/

.path-logout-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 20%;
    align-items: flex-start;
    justify-content: flex-start;
}

.paths {
    margin-left: 15px;
}

.header-path {
    width: 82%;
    text-align: left;
}

.header-path > nav {
    color: #106BAC;
    font-weight: 600;
    font-size: 0.9em;
    display: flex;
    flex-flow: row wrap;
}

.pathLink:hover {
    cursor: pointer;
    color:#1293D6;
    text-decoration: underline;
}

.logout-button {
    border: none;
    font-size: 0.8rem;
    font-weight: 800;
    color: #fff;
    background-color: orange;
    width: 130px;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
    height: 30px;
}

.divider {
    margin: 0 0px 0 15px;
}

.divider:hover {
    text-decoration: none;
    cursor: initial;
}

.logout-button:hover {
    cursor: pointer;
    background-color: rgb(255, 136, 0);
}

.pathLink{
    text-decoration: none;
    color: #737373;
}

@media only screen and (max-width: 900px) {

    .logo-container {
        width: 30%;
    }
    
    .logo-header {
        margin-top: 50px;
        width: 100%;
    }

    .search-box {
        width: calc(70% - 40px);
      
    }
}

/*
.headerContainer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
    align-items: center;
    z-index: 10;
}

nav {
    display: flex;
    align-items: center;
}

.logoContainer {
    width: 20%;
}

.logoHeader {
    width: 200px;
    margin: 50px 0 0 -50px;
}

.headerPathSearchContainer {
   width: 80%;
   display: flex;
   justify-content: space-between;
   margin: 75px 0 0 10px;
}

.headerSearchContainer {
    border-radius: 0.3rem;
    padding: 1%;
    width: 200px;
}

.searchInput {
    margin-left: 4px;
}*/