.container {
    background-color: bisque;
    height: 100%;
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-flow: column wrap;
}

.header {
    width: 100%;
    height: 20%;
    background-color: aqua;
}

.content {
    width: 100%;
    height: 75%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-flow: row wrap;
}

.sidebar {
    width: 15%;
}

.mainArea {
    width : 70%;
    height: 100%;
    background-color: white;
}

.footer {
    width: 100%;
    height: 5%;
    background-color: brown;
}