
.item{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:#F7F7F7;
    padding: 5px 0px;
}

.item:nth-child(even){
    background: #FCFCFC;
}

.itemSmlCtn{
    width: 35%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.starIcon{
    font-size: 1.2rem;
    color: orange;
    margin-right:15px;
}

.folderIcon{
    font-size: 2.1rem;
    color:rgb(34, 98, 208);
    margin-right: 10px;
}

/*file name */
.documentLink{
    text-align: left;
    text-decoration: none;
    font-size: 0.9rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
<<<<<<< HEAD
}

.dropDownCtn{
    position: relative;
}

.dropDown{
    width: 200px;
    height: 100px;
    background-color: white;
    position: absolute;
    z-index: 1;
    right: 3px;
    box-shadow: 1px 1px 1px grey;
    display: none;
=======
}

.documentLink:hover {
    cursor: pointer;
}

.metaData, .modified{
    font-size: 0.8rem;
    width: 20%;
>>>>>>> e6eda7602b18b88d3db38872a696a98d46b6a867
}

.dropDown.active{
    display: block;

}

.deleteLink{
    text-decoration: none;
}