.item{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(235, 235, 235);
}

.itemSmlCtn{
    width: 35%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.starIcon{
    font-size: 1.2rem;
    color: orange;
}

.folderIcon{
    font-size: 2.5rem;
    color:rgb(34, 98, 208);
}

.documentLink{
    text-decoration: none;
}