
.item{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:#F7F7F7;
    padding: 5px 0px;
}

.item:nth-child(even){
    background: #FCFCFC;
}

.itemSmlCtn{
    width: 35%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.starIcon{
    font-size: 1.2rem;
    color: orange;
    margin-right:15px;
}

.starIcon:hover {
    cursor: pointer;
}

.folderIcon{
    color:rgb(34, 98, 208);
    margin-right: 10px;
}

.documentLink{
    text-align: left;
    text-decoration: none;
    font-size: 0.9rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #737373;
}

.documentLink:hover {
    cursor: pointer;
}

.metaData, .modified{
    font-size: 0.8rem;
    width: 20%;
}

